body {
    font-family: monospace;
    padding-top: 15%;
    background-color: black;
    color: lightgray;
}

header {
    font-family: monospace;
    font-size: 8px;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    width: 100%;
    color: lightgray;
    padding: 4px;
    margin: 0 -1em;
    border-bottom: solid 4px;
}

footer {
    position: static;
    font-size: 8pt;
    color: lightgray;
    border-top: solid 4px;
    width: 100%;
    bottom: 0;
    padding: 1em;
    margin: 0 -1em;
}

#title {
    float: left;
    padding-left: 20px;
}

.navBar {
    margin-top: 4%;
    margin-right: %;
    width: 20%;
    height: 30px;
    float: bottom;
}

p {
    font-size: 12pt;
}

#heart {
    color:red;
}