body {
    background-color: black;
}

header {
    font-family: monospace;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    width: 100%;
    color: lightgray;
    padding: 4px;
    margin: 0 -1em;
    border-bottom: solid 4px;
}

#title {
    float: left;
    padding-left: 20px;
}

.navBar {
    margin-top: 12px;
    margin-right: 12px;
    width: 80px;
    height: 40px;
    float: right;
}

body {
    margin-top: 80px;
}



.posts {
    font-family: monospace;
    font-size: 12pt;
    color: lightgray;
    padding-left: 9px;
    padding: 4px;
    margin: 9px;
    border: solid 4px;
    border-radius: 3px;
}

#postHeader {
    color: lightgray;
    font-size: 24pt;
    font-family: monospace;
    padding-top: 10px;
    padding-left: 9px;
}

#post1 {
    
}